<!DOCTYPE html>
<html lang="pt-br">
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title> NodeProp - Especializada em Soluções Digitais </title>
    	<meta name="description" content="Empresa especializada em manutenção de turbinas e sistemas hidráulicos.">
    	<meta name="keywords" content="Turbo, Turbinas, Sistemas Hidráulicos">
    	<meta name="robots" content="index, follow">
    	<meta name="author" content="Maycon Aguiar">
    	
    	
    	
    	<link rel="icon" href="assets/img/icon.png">
    </head>
    <body>        
        <section class="carrossel">        
            <!-- <app-carrossel-fotos></app-carrossel-fotos>         -->
            <app-carrossel></app-carrossel>
        </section>
        
        <!-- SERVICOS --> 
        <main class="servicos conteudo">
            <article class="servico bg-white radius">
               <a href="#"><img src="assets/img/servicos.png" alt="Campanhas publicitárias"></a>
               <div class="inner">
                   <a href="#"> Serviços </a>
                   <h4>Serviços, Tecnologia, Especialistas</h4>
                   <p>Recuperação de sistema Hidráulico tais como Setor direção, Bombas Hidráulicas
                     Comando Hidráulico, Pistões Hidráulicos, Hidrostáticos, Válvulas, Macaco Cabine, Pistões Cabine no mais alto padrão de qualidade. </p>
               </div>
            </article>            
            <article class="servico bg-white radius">
               <a href="#"><img src="assets/img/turbina1.jpg" alt="Peças"></a>
               <div class="inner">
                   <a href="#"> Peças </a>
                   <h4>Conjunto rotativo, mangueiras </h4>
                   <p> Peças para recuperação de turbinas, macaco de cabine e direção hidráulica.</p>
               </div>
            </article>
            <article class="servico bg-white radius">
                <a href="#"><img src="assets/img/assistencia.png" alt="Marketing Digital"></a>
                <div class="inner">
                    <a href="#"> Atendimento exclusivo</a>
                    <h4>Assistencia 24 horas e garantia</h4>
                    <p>A Qualidade de nossos serviços é primordial,
                       por isso damos garantia com assistencia e reparo no local.
                       Contamos com profissionais de plantão para qualquer eventualidade. </p>
                </div>
             </article>
        </main>        
        <app-rodape></app-rodape>
        <!-- RODAPÉ -->
        <footer class="rodape conteudo bg-gradient">
          <div class="social-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
          <p class="copyright">
            Copyright © MayconAguiar 2018. Todos os direitos reservados.
        </footer>       
        
        <!-- JQUERY --> 
        <!-- <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script> -->
        <app-contato-whatsapp></app-contato-whatsapp>
    </body>
    <script>
        $().ready(function() {
            console.log('principal carregado');
        });
    </script>
</html>