

<div class="conteudo">
    <div class="titulo">
        <h1>Peças</h1>
      </div>
  <div class="imagem um">
    <a href="#">
      <img src="assets/img/pecas/todas.jpg" alt="Peças">
    </a>
  </div>
  <div class="texto">
    <!-- <h2>Missão:</h2> -->
    <ul><li>
      <h3>Turbos novos, conjunto rotativo orginal (Holset, Borg e Garrret).</h3>
      </li>
    </ul>
    <ul><li><h3>Mangueiras intercooler.</h3></li></ul>
    <ul><li><h3>Abraçadeiras.</h3></li></ul>
    <ul><li><h3>Mangueiras hidráulicas.</h3></li></ul>
  </div>
</div>

