<!-- MENU --> 
<div>
    <div class="conteudo">
        <button class="btn-menu bg-gradient"><i class="fa fa-bars fa-lg"></i></button>
    </div>
<nav class="menu">
    <a class="btn-close"><i class="fa fa-times"></i></a>
    <ul>
        <li><a href="#" class="itemMenu" >Home</a></li>
        <li><a href="#" class="itemMenu">Empresa</a></li>
        <li><a href="#" class="itemMenu">Peças</a></li>
        <li><a href="#" class="itemMenu">Serviços</a></li>                   
        <li><a href="#" class="itemMenu">Contato</a></li>
        <li><a class="itemMenu" [routerLink]="['/gallery']">Galeria de Fotos</a></li>
    </ul>
</nav>
</div>
