

<div class="conteudo">
    <div class="titulo">
        <h1>Serviços</h1>
      </div>
  <div class="imagem um">
    <a href="#">
      <img src="assets/img/servicos_turbina_2.png" alt="Turbinas">
    </a>
  </div>
  <div class="texto">
    <h2>Turbinas...</h2>
    <h3>Recuperação de turbinas de todas as marcas e modelos 
      deixando-as como a orginal e com garantida de até 1 ano 
      quando trocado todo o conjunto rotativo.</h3>
  </div>
</div>

<div class="conteudo">
    <div class="imagem dois">
        <a href="#">
          <img src="assets/img/servicos2.png" alt="Sistemas hidraulicos">
        </a>
      </div>  
    <div class="texto">
        <h2>Recuperação de sistema Hidráulico:</h2>
        <h3>Setor direção, Bombas Hidráulicas, Comando Hidráulico, Pistões Hidráulicos, Hidrostáticos, Válvulas, Macaco Cabine, Pistões Cabine</h3>
    </div>  
    
    
  </div>
<!-- <div class="servicos">
  <ul class="list-group">
    <li class="list-group-item">Setor direção</li>
    <li class="list-group-item">Bombas Hidráulicas</li>
    <li class="list-group-item">Comando Hidráulico</li>
    <li class="list-group-item">Pistões Hidráulicos</li>
    <li class="list-group-item">Hidrostáticos</li>
    <li class="list-group-item">Válvulas</li>
    <li class="list-group-item">Pistões Cabine</li>
  </ul>
</div> -->