

<div class="conteudo">
    <div class="titulo">
        <h1>Serviços</h1>
      </div>
  <div class="imagem um">
    <a href="#">
      <img src="assets/img/servicos_turbina_2.png" alt="Turbinas">
    </a>
  </div>
  <div class="texto">
    <h2>Turbinas...</h2>
    <h3>Turbos orginais Holset, Garret e BorgWarner. 
      Recuperação de todas as marcas e modelos. Turbos remanufaturados.</h3>
  </div>
</div>

<div class="conteudo">
    <div class="imagem dois">
        <a href="#">
          <img src="assets/img/carrossel/2.mobile.jpg" alt="Sistemas hidraulicos">
        </a>
      </div>  
    <div class="texto">
        <h2>Recuperação de sistema hidráulico:</h2>
        <h3>Setor direção, Bombas Hidráulicas, Comando Hidráulico, Pistões Hidráulicos, Hidrostáticos, Válvulas, Macaco Cabine, Pistões Cabine</h3>
    </div>  
    
    
  </div>
