.item {
    float: left;
    width: 100%;  
    padding-top: 1%;  
}

.subitem {
    float: left;
    width: 50%;  
    padding-top: 1%;  
}

.menu-desktop {
    display: inline-block;
  }

h2 {
font-size: 20px;
font-weight: bold;
}

.selecionado {
   background-color: #6c757d;
   color: white;
}

.card {
    float: left;
    padding: 2px;
}

.cards {
    padding-top: 10px;
    float: left;
    width: 100%;
}