<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Meses
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let item of datas; let i = index" class="dropdown-item" href="#">{{ item.valor.titulo }}</a>          
        </div>
</div>
<input type="file" class="upload" (change)="changeListener($event.target.files)" multiple accept=".csv">

<br>
{{ listaporacao | json }}
