<!-- CABEÇALHO --> 
<header class="cabecalho conteudo">
    <div>
    <div class="divLogo">
        <a href="index.html">
            
                <img src="assets/img/ht.jpg">            
            
        </a>
    </div>
    <div>
        <div class="telefones">
            <app-telefones></app-telefones>
        </div>
        <div class="menu">
            <app-menu2></app-menu2>
        </div>
        <div class="telefonesMobile">
            <app-telefones></app-telefones>
        </div>
    </div>
</div>
</header>
