
<div class="owl-carousel owl-theme" #carrossel>
    <div class="item">
            <img src="assets/img/teste.jpg" class="img-responsive" alt="Chicago">        
    </div>
    <div class="item">
            <img src="assets/img/bg_2_3.jpg" alt="Chicago">
    </div>
    <div class="item">
            <img src="assets/img/bg_3_3.jpg" alt="Chicago">
    </div>
</div>
<!-- <owl-carousel
[options]="{items: 3, dots: false, navigation: false}"
[items]="images"
[carouselClasses]="['owl-theme', 'row', 'sliding']">
<div class="item" *ngFor="let image of images;let i = index">
    <div class="thumbnail-image" [ngStyle]="{'background': 'url('assets/img/bg_2_3.jpg')no-repeat scroll center center / 80px 80px'}"></div>
</div>
</owl-carousel> -->
