

<div class="conteudo">
    <div class="titulo">
        <h1>Empresa</h1>
      </div>
  <div class="imagem um">
    <a href="#">
      <img src="assets/img/empresa/2.jpg" alt="Fachada">
    </a>
  </div>
  <div class="texto">
    <h2>Missão:</h2>
    <h3>Oferecer produtos e serviços com qualidade, agilidade e transparência.</h3>    
  </div>
</div>

<div class="conteudo">
    <div class="imagem dois">
        <a href="#">
          <img src="assets/img/empresa/1.jpg" alt="Fachada 2">
        </a>
      </div>  
    <div class="texto">
        <h2>Visão:</h2>
        <h3>Ser um grupo líder no segmento com propostas e características únicas 
          a seus clientes e colaboradores.</h3>
    </div>  
</div>


<div class="conteudo">
    <div class="imagem um">
        <a href="#">
          <img src="assets/img/empresa/3.jpg" alt="Fachada 3">
        </a>
      </div>  
    <div class="texto">
        <h2>Valores:</h2>
        <h3>Trabalho em equipe, Proatividade, Qualidade, Agilidade, Ética e respeito</h3>
    </div>  
</div>
