

<div class="conteudo">
  <div class="google-maps">
  <div class="imagem um">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.2953167445494!2d-49.242758885637514!3d-16.81169945327349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935efb76fcf2a5b7%3A0x20b56f6960f294ef!2sR.+6%2C+794+-+St.+Araguaia%2C+Aparecida+de+Goi%C3%A2nia+-+GO%2C+74981-060!5e0!3m2!1spt-BR!2sbr!4v1521074550793" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
<div class="texto">
  <h2>Endereço:</h2>
  <h3>Rua 6, Quadra T, Lotes 2 a 5, Setor Araguaia - Aparecida de Goiânia / Goiás</h3>
</div>
</div>