<div *ngFor="let item of items" class="conteudo">
      <a class="imagem" [routerLink]="['/playlistdetalhe', item.element.id]" >
        <div class="contentimagem" [style.background-image]= "'url('+ item.element.snippet.thumbnails.medium.url +')'">
          <!-- <img src="{{item.element.snippet.thumbnails.medium.url}}"> -->
          <app-info-playlist quantidade="{{item.quantidade}}" class="contentIconeTexto"></app-info-playlist>
          <!-- <div class="contentIconeTexto">
            <div class="texto">18</div>
            <div class="icone">
                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                    <g>
                    <path d="M3.67 8.67h14V11h-14V8.67zm0-4.67h14v2.33h-14V4zm0 9.33H13v2.34H3.67v-2.34zm11.66 0v7l5.84-3.5-5.84-3.5z">
                    </path>
                    </g>
                </svg> 
            </div>  
          </div> -->
        </div>
        
        
        <div class="titulo">
            <h3>{{item.element.snippet.title}}</h3>
        </div>
        
      </a>

      
</div>


