<div *ngFor="let item of items" class="conteudo">
      <a class="imagem" [routerLink]="['/playlistdetalhe', item.element.id, item.element.snippet.title]" >
        <div class="contentimagem" [style.background-image]= "'url('+ item.element.snippet.thumbnails.medium.url +')'">
          <app-info-playlist quantidade="{{item.quantidade}}" class="contentIconeTexto"></app-info-playlist>
        </div>
        
        
        <div class="titulo">
            <h3>{{item.element.snippet.title}}</h3>
        </div>
        
      </a>

      
</div>


