.cabecalho {
    width: 100%;
    float: left;
    
}

.cabecalho img {
    width: 80px;
}

.cabecalho div {
    float: left;
}

.texto  {
    margin-left: 15px;    
    margin-top: 30px;
    font-weight: 900;
    font-size: 18px;
    overflow: hidden;
}

span {
    /* display: table; */
    margin: 0 auto;
}

.imagem {
    float: left;
    width: 320px;
    /* height: 180px; */
    padding: 1%;
}

.contentimagem img {
    min-width: 300px;
    max-height: 180px;
}

.titulo {
    max-width: 320px;
    word-wrap: break-word;
    /* min-height: 100px; */
    height: 40px;
    text-overflow: ellipsis;
}

.conteudo {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 388px) {
    
    
}
  
@media screen and (min-width: 500px) {
    .texto  {
        margin-left: 25px;            
        font-weight: 900;
        font-size: 40px;
    }
}
  
@media screen and (min-width: 768px) {
    
}  
  
/* MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px) {

}
/* LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1280px) {

}